<!-- Collect the nav links, forms, and other content for toggling -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li><a href="@routes.Application.index"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="@routes.Application.startupsByLocation"><i class="fa fa-map-marker"></i> Startups by locations</a></li>
        <li><a href="@routes.Application.startupsFundingInfo"><i class="fa fa-money"></i> Startups Funding</a></li>
        <li><a href="@routes.Application.startupsInfo"><i class="fa fa-money"></i> Roles and Funding by Startup</a></li>
        <li><a href="@routes.Application.startupsPeopleInfo"><i class="fa fa-user"></i> Startup's People Info</a></li>
        <li><a href="@routes.Application.startupsNetwork"><i class="fa fa-sitemap"></i> Startups Network</a></li>
        <li><a href="@routes.Application.startupsPeopleNetwork"><i class="fa fa-sitemap"></i> Startups People Network</a></li>
        <li><a href="@routes.Users.listUsers"><i class="fa fa-users"></i> Users</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Tangela Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->