@main("Startups")(sidebar()) {
    <div ng-app="AAC" ng-controller="startupsCtrl">
        @partial.startupSearchForm()
        <div class="row">
            <div class="col-lg-12 " ng-if="startups && startups.length > 0">
                <div class="panel panel-default" ng-controller="tableController">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Startups ({{startups.length}})
                            <div class="btn-group pull-right" role="group">
                                <a class="btn btn-primary btn-xs btn-export" ng-href="{{exportStartupsURL}}">Export</a>
                                <a class="btn btn-primary btn-xs btn-export" ng-href="{{exportStartupsTagsURL}}">Export Tags</a>
                            </div>
                        </h2>
                    </div>
                    <div class="panel-body" style="overflow-x: scroll">
                        <div class="alert alert-info" ng-show="startupsMsg">{{startupsMsg}}</div>

                        <table class="table table-bordered" ng-show="startups.length">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>hidden</th>
                                    <th>community profile</th>
                                    <th>name</th>
                                    <th>AngelList URL</th>
                                    <th>logo</th>
                                    <th>quality</th>
                                    <th>product description</th>
                                    <th>high concept</th>
                                    <th>followers</th>
                                    <th>company URL</th>
                                    <th>created at</th>
                                    <th>updated at</th>
                                    <th>Twitter URL</th>
                                    <th>blog URL</th>
                                    <th>video URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="startup in $parent.startups | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                    <td>{{startup.id}}</td>
                                    <td>{{startup.hidden}}</td>
                                    <td>{{startup.community_profile}}</td>
                                    <td>{{startup.name}}</td>
                                    <td>{{startup.angellist_url}}</td>
                                    <td><img ng-src="{{startup.thumb_url}}" class="img-responsive img-circle" alt="startup logo"/></td>
                                    <td>{{startup.quality}}</td>
                                    <td>{{startup.product_desc}}</td>
                                    <td>{{startup.high_concept}}</td>
                                    <td>{{startup.follower_count}}</td>
                                    <td>{{startup.company_url}}</td>
                                    <td>{{startup.created_at}}</td>
                                    <td>{{startup.updated_at}}</td>
                                    <td>{{startup.twitter_url}}</td>
                                    <td>{{startup.blog_url}}</td>
                                    <td>{{startup.video_url}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination ng-model="currentPage" total-items="$parent.startups.length" boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-12" ng-if="tags && tags.length > 0">
                <div class="panel panel-default" ng-controller="tableController">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Tags ({{$parent.tags.length}})
                            <a class="btn btn-primary btn-xs btn-export pull-right" ng-href="{{exportStartupsTagsURL}}">Export</a>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tag Id</th>
                                    <th>Tag Type</th>
                                    <th>Name</th>
                                    <th>Display Name</th>
                                    <th>Angellist_url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tag in $parent.tags | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                    <td>{{tag.startup}}</td>
                                    <td>{{tag.id}}</td>
                                    <td>{{tag.tag_type}}</td>
                                    <td>{{tag.name}}</td>
                                    <td>{{tag.display_name}}</td>
                                    <td>{{tag.angellist_url}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination ng-model="currentPage" total-items="$parent.tags.length" boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->
    </div>
}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/tangelaServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsController.js")"></script>
}