@main("Informacion sobre Startups   ")(sidebar()) {

    <div class="row" ng-app="JB" ng-controller="startupInfoCtrl">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form role="form">
                        <div class="form-group">
                            <label for="startupName">Startup</label>
                            <div class="input-group">
                                <input type="text" name="startupName" id="startupName" placeholder="Write startup name here ..." class="form-control" ng-model="startupName"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="searchForStartupsByName();">Search</button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div ng-if="!startupsResultsReached">
                        <p>There are not startups with that name</p>
                    </div>

                    <form role="form">
                        <div class="form-group">
                            <label for="startupId">Names: </label>
                            <select class="form-control" name="startup" id="startupId" ng-model="startupId">
                                <option ng-repeat="startup in startupsByName" value="{{startup.id}}">{{startup.name}}</option>
                            </select>
                        </div>

                        <div class="btn btn-group">
                            <button class="btn btn-default" ng-click="searchNumberOfFounders();">Number of Startup</button>
                            <button class="btn btn-default" ng-click="searchRolesOfStartup();">Roles of Startup</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Number of Founders
                    </h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{startupName}}</dt>
                        <dd>{{numberOfFounders}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Roles
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Followers</th>
                                <th>Role</th>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="roole in roles | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{roole.name}}</td>
                                <td>{{roole.follower_count}}</td>
                                <td>{{roole.role}}</td>
                                <td>{{roole.id}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">&laquo;</a></li>
                        <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                            <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div><!-- /.row -->

}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsInfo.js")"></script>

}