@main("Informacion sobre Startups")(sidebar()) {

    <div class="row" ng-app="AAC" ng-controller="startupsPplNetCtrl">
        <div class="col-lg-6">@partial.startupSearchForm()</div>
        <div class="col-lg-6">
            <div class="panel panel-default" ng-controller="tableController">
                <div class="panel-heading"><h2 class="panel-title text-center">Startups</h2></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Startup Id</th>
                                <th>Startup Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="startup in $parent.startups | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{startup.id}}</td>
                                <td>{{startup.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-model="currentPage" total-items="$parent.startups.length" max-size="5"
                    boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default" ng-controller="tableController">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        People ({{$parent.networkRows.length}})
                        <a class="btn btn-primary btn-xs btn-export pull-right" ng-href="{{$parent.exportURL}}">Export</a>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>User Id One</th>
                                <th>User Name One</th>
                                <th>User Role One</th>
                                <th>User Id Two</th>
                                <th>User Name Two</th>
                                <th>User Role Two</th>
                                <th>Startup in common Id</th>
                                <th>Startup in common Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="person in $parent.networkRows | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{person.userIdOne}}</td>
                                <td>{{person.userNameOne}}</td>
                                <td>{{person.roleOne}}</td>
                                <td>{{person.userIdTwo}}</td>
                                <td>{{person.userNameTwo}}</td>
                                <td>{{person.roleTwo}}</td>
                                <td>{{person.startupId}}</td>
                                <td>{{person.startupName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-model="currentPage" total-items="$parent.networkRows.length" max-size="15"
                    boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsPeopleNetwork.js")"></script>
}