@main("Informacion sobre Startups   ")(sidebar()) {

    <div class="row" ng-app="JB3" ng-controller="startupsNetworkCtrl as main">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label" for="location">Location</label>
                            <select class="form-control" name="location" id="location" ng-model="main.location">
                                <option value="" disabled selected>Select a country...</option>
                                <optgroup label="Countries">
                                @for(country: Location <- Location.getCountries){
                                    <option value="@country.angelId">@country.name</option>
                                }
                                </optgroup>
                                <optgroup label="Specific Locations">
                                @for(country: Location <- Location.getOtherThanCountries){
                                    <option value="@country.angelId">@country.name</option>
                                }
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="market">Market</label>
                            <select class="form-control" ng-model="main.market" name="market" id="market">
                            @for(market: Market <- Market.getMarkets){
                                <option value="@market.angelId">@market.name</option>
                            }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="creation-date">Creation date</label>
                            <input type="date" class="form-control" ng-model="main.date" name="creation-date" id="creation-date"/>
                        </div>
                        <div class="form-group">
                            <label for="quality" class="control-label">Quality</label>
                            <input type="number" class="form-control" name="quality" id="quality" ng-model="main.quality"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="main.submit();">Search</button>
                        </div>
                        <div class="alert alert-danger" ng-if="main.markOne" >
                            <p><strong>You must mark either a location or a market to search</strong></p>
                        </div>
                        <div class="alert alert-warning" ng-if="main.searching" >
                            <p><strong>Please wait while we search for your request...</strong></p>
                        </div>
                        <div class="alert alert-danger" ng-if="!main.startupsResultsReached" >
                            <p><strong>There are not startups with that features</strong></p>
                        </div>
                        <label for="steps">Steps:</label>
                        <div class="alert alert-success" id="steps">
                            <p class="help-block">
                                Enter the startup features and hit Search. <br>
                                <small>
                                    <strong>
                                        You will see the startups connections on the panel below.
                                    </strong>
                                </small>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default" ng-controller="tableController">
                <div class="panel-heading"><h2 class="panel-title text-center">Startups</h2></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Startup Id</th>
                                <th>Startup Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="startup in main.startupsToShow | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{startup.id}}</td>
                                <td>{{startup.name}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination ng-model="currentPage" total-items="main.startupsToShow.length" max-size="5"
                    boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default" ng-controller="tableController">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Startups Network ({{main.startups.length}})
                        <button ng-click="main.exportCSV()"  class="btn btn-xs btn-primary pull-right">Export</button>
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Startup Id One</th>
                                <th>Startup Name One</th>
                                <th>User Role in Startup One</th>
                                <th>Startup Id Two</th>
                                <th>Startup Name Two</th>
                                <th>User Role in Startup Two</th>
                                <th>User in common Id</th>
                                <th>User in common Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="startup in main.startups | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{startup.startupIdOne}}</td>
                                <td>{{startup.startupNameOne}}</td>
                                <td>{{startup.roleOne}}</td>
                                <td>{{startup.startupIdTwo}}</td>
                                <td>{{startup.startupNameTwo}}</td>
                                <td>{{startup.roleTwo}}</td>
                                <td>{{startup.userId}}</td>
                                <td>{{startup.userName}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination ng-model="currentPage" total-items="main.startups.length" max-size="15"
                    boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>

    </div><!-- /.row -->
}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsNetwork.js")"></script>
}