@main("Informacion sobre Startups   ")(sidebar()) {
    <div class="row" ng-app="AAC" ng-controller="startupsFundingInfo">
        <div class="col-lg-12">@partial.startupSearchForm()</div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Funding
                        <a ng-href="{{exportStartupsFundingCSVURL}}" class="btn btn-primary btn-xs btn-export pull-right">Export</a>
                    </h2>
                </div>
                <div class="panel-body" ng-controller="tableController">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Round Type</th>
                                <th>Amount</th>
                                <th>Closed At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fund in $parent.fundings | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">
                                <td>{{fund.id}}</td>
                                <td>{{fund.name}}</td>
                                <td>{{fund.round_type}}</td>
                                <td>{{fund.amount}}</td>
                                <td>{{fund.closed_at}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination ng-model="currentPage" total-items="$parent.fundings.length" max-size="6"
                    boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>
</div><!-- /.row -->
}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/tangelaServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsFundingInfo.js")"></script>
}