@main("Startups by location")(sidebar()) {

    <div ng-app="AAC" ng-controller="startupsCtrl">
        <div class="row" >


            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="location">Location</label>
                                <select class="form-control" name="location" id="location" ng-model="location">
                                    <option value="" disabled selected>Select a country...</option>
                                    <optgroup label="Countries">
                                    @for(country: Location <- Location.getCountries){
                                        <option value="@country.angelId">@country.name</option>
                                    }
                                    </optgroup>
                                    <optgroup label="Specific Locations">
                                    @for(country: Location <- Location.getOtherThanCountries){
                                        <option value="@country.angelId">@country.name</option>
                                    }
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="market">Market</label>
                                <select class="form-control" ng-model="market" name="market" id="market">
                                @for(market: Market <- Market.getMarkets){
                                    <option value="@market.angelId">@market.name</option>
                                }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="creation-date">Creation date</label>
                                <input type="date" class="form-control" name="creation-date" id="creation-date" ng-model="date"/>
                                <p class="help-block">Creation date filters startups created ON or AFTER given creation date.</p>
                            </div>
                            <div class="form-group">
                                <label for="quality" class="control-label">Quality</label>
                                <input type="number" class="form-control" name="quality" id="quality" ng-model="quality"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="submit()">Search</button>
                            </div>
                        </form>
                        <div class="alert alert-warning" ng-if="searching" >
                            <p><strong>Please wait while we search for the result...</strong></p>
                        </div>
                        <div class="alert alert-danger" ng-if="markOne" >
                            <p><strong>You must mark either a location or a market to search</strong></p>
                        </div>
                        <div class="alert alert-danger" ng-if="!startupsResultsReached" >
                            <p><strong>There are not startups with that features</strong></p>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->

        <div class="row">


            <div class="col-lg-12 ">
                <div class="panel panel-default" ng-show="startups.length">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Startups ({{startups.length}})
                            <button ng-click="exportCSV()"  class="btn btn-xs btn-primary pull-right">Export</button>
                        </h2>
                    </div>
                    <div class="panel-body" style="overflow-x: scroll">
                        <div class="alert alert-info" ng-show="startupsMsg">{{startupsMsg}}</div>

                        <table class="table table-bordered" ng-show="startups.length">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Hidden</th>
                                    <th>Community_profile</th>
                                    <th>Name</th>
                                    <th>Angellist_url</th>
                                    <th>Logo_url</th>
                                    <th>Thumb_url</th>
                                    <th>Quality</th>
                                    <th>Product_desc</th>
                                    <th>High_concept</th>
                                    <th>Follower_count</th>
                                    <th>Company_url</th>
                                    <th>Created_at</th>
                                    <th>Updated_at</th>
                                    <th>Twitter_url</th>
                                    <th>Blog_url</th>
                                    <th>Video_url</th>
                                    <th class="icon-spacer"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="startup in startups | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">

                                    <td>{{startup.id}}</td>
                                    <td>{{startup.hidden}}</td>
                                    <td>{{startup.community_profile}}</td>
                                    <td>{{startup.name}}</td>
                                    <td>{{startup.angellist_url}}</td>
                                    <td>{{startup.logo_url}}</td>
                                    <td>{{startup.thumb_url}}</td>
                                    <td>{{startup.quality}}</td>
                                    <td>{{startup.product_desc}}</td>
                                    <td>{{startup.high_concept}}</td>
                                    <td>{{startup.follower_count}}</td>
                                    <td>{{startup.company_url}}</td>
                                    <td>{{startup.created_at}}</td>
                                    <td>{{startup.updated_at}}</td>
                                    <td>{{startup.twitter_url}}</td>
                                    <td>{{startup.blog_url}}</td>
                                    <td>{{startup.video_url}}</td>
                                    <td>
                                        <a href="#network-container" data="{{startup.id}}" ng-click="showNetwork(startup.id)">
                                            <span class="glyphicon glyphicon-eye-open" tooltip="View relations"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">&laquo;</a></li>
                            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href>{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->
        <div class="row">


            <div class="col-lg-12 ">
                <div class="panel panel-default" ng-show="tags.length">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Tags ({{tags.length}})
                            <button ng-click="exportTagsCSV()"  class="btn btn-xs btn-primary pull-right">Export</button>
                        </h2>
                    </div>
                    <div class="panel-body" style="overflow-x: scroll">
                        <div class="alert alert-info" ng-show="startupsMsg">{{startupsMsg}}</div>

                        <table class="table table-bordered" ng-show="tags.length">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tag Id</th>
                                    <th>Tag Type</th>
                                    <th>Name</th>
                                    <th>Display Name</th>
                                    <th>Angellist_url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tag in tags | offset:currentPage*itemsPerPage | limitTo:itemsPerPage">

                                    <td>{{tag.startup}}</td>
                                    <td>{{tag.id}}</td>
                                    <td>{{tag.tag_type}}</td>
                                    <td>{{tag.name}}</td>
                                    <td>{{tag.display_name}}</td>
                                    <td>{{tag.angellist_url}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">&laquo;</a></li>
                            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a href>{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body network-wrapper">
                    <div id="network-container">

                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.row -->

}{
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma/sigma.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma/plugins/sigma.layout.forceAtlas2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/startupsByLocation.js")"></script>

}