@main("Startups by location")(sidebar()) {


    <div class="row">
        <div class="col-lg-12">
            <h1> Startups <small> View startups from a given location </small></h1>
        </div>
    </div> <!-- /.row -->
    <div class="row" ng-app="DemoApp" ng-controller="demoCtrl">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form role="form" ng-submit="searchLocation()">
                        <div class="form-group">
                            <label for="locationName">Search location</label>
                            <input id="locationName" name="locationName" class="form-control" ng-model="locationName" type="text"/>
                        </div>
                        <input type="submit" class="btn btn-default"/>
                    </form>
                    <form>
                        <h3>Locations:</h3>
                        <div class="form-group" ng-repeat="location1 in locations">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="{{location1.id}}" name="location id" ng-model="locationId"/>
                                    {{location1.name}}
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="page-header">
                    Startups
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="startup in startups">
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- /.row -->

} {
    <script src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoServices.js")"></script>
    <script src="@routes.Assets.at("javascripts/demo/demoCtrl.js")"></script>

}